.cover {
    // width: 100%;
    text-align: center;
    padding: 60px 0;
    .logo {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .intro {
        height: 20px;
        font-size: 1.2rem;
        color: rgb(150, 150, 150);
    }
}
.article-list {
    max-width: calc(100vw - 40px);
    width: 800px;
    margin: 0 auto;
    .article-item {
        background-color: #fff;
        border-radius: 8px;
        margin-bottom: 40px;
        padding: 40px 60px;
        cursor: pointer;
        .title {
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: 40px;
        }
        .introduction {
            line-height: 24px;
            margin-bottom: 20px;
        }
        .date {
            line-height: 24px;
        }
        &:hover{
            transform: translateY(-5px);
            box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1)
        }
    }
}

.page-bar {

}