<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fan.neat.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="cn.fan.neat.entity.po.ArticleEntity">
        <id column="article_id" jdbcType="INTEGER" property="articleId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="category_id" jdbcType="INTEGER" property="categoryId" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
        <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    </resultMap>
    <select id="selectBySelective" resultMap="BaseResultMap">
        select
            a.article_id,
            a.title,
            a.category_id,
            a.introduction,
            a.status,
            a.ctime,
            a.mtime,
            c.category_name
        from neat_blog.n_article a
        left join neat_blog.n_category c on a.category_id = c.category_id
        <where>
            <if test="articleId != null">
                and a.article_id = #{articleId}
            </if>
            <if test="title != null">
                and a.title like concat('%', #{title}, '%')
            </if>
            <if test="categoryId != null">
                and a.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
        </where>
        order by a.ctime desc
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
            a.article_id,
            a.title,
            a.category_id,
            a.introduction,
            a.status,
            a.ctime,
            a.mtime
        from neat_blog.n_article a
        <where>
            <if test="articleId != null">
                and a.article_id = #{articleId}
            </if>
            <if test="title != null">
                and a.title like concat('%', #{title}, '%')
            </if>
            <if test="categoryId != null">
                and a.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
        </where>
        order by a.ctime desc
    </select>
    <insert id="insert" keyColumn="article_id" keyProperty="articleId" parameterType="cn.fan.neat.entity.po.ArticleEntity" useGeneratedKeys="true">
        insert into neat_blog.n_article
            (title, content, category_id, introduction, `status`, ctime, mtime)
        values
            (#{title}, #{content}, #{categoryId}, #{introduction}, #{status}, #{ctime}, #{mtime})
    </insert>
    <update id="updateBySelective" parameterType="cn.fan.neat.entity.po.ArticleEntity">
        update neat_blog.n_article
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="category_id != null">
                category_id = #{category_id},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="mtime != null">
                mtime = #{mtime},
            </if>
        </set>
        where article_id = #{articleId}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from neat_blog.n_article
        where article_id = #{articleId}
    </delete>
</mapper>