.archives {
    max-width: calc(100vw - 80px);
    width: 800px;
    margin: 0 auto;

    .timeline-item {
        .year {
            font-weight: 600;
            font-size: 1.6rem;
            margin-bottom: 20px;
        }

        .article-list {
            .article-item {
                margin-bottom: 20px;
                background-color: #fff;
                padding: 20px;
                cursor: pointer;
                border-radius: 8px;

                .date {
                    font-weight: 600;
                    color: rgb(150, 150, 150);
                }

                .title {
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 40px;
                }
            }
        }
    }
}