.header {
    .logo {
        font-size: 1.8rem;
        font-weight: 600;
        cursor: pointer;
        float: left;
    }
    .menu {
        float: right;
        display: flex;
        .menu-item {
            font-size: 1.2rem;
            padding: 10px;
            font-weight: 600;
            cursor: pointer;
            color: rgb(150, 150, 150);
        }
        .menu-item-active {
            color: rgb(29, 134, 255);
        }
    }
}
